.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1d031c;
    font-size: 17px;
   
}

@media screen and (max-width: 375px) {
    .footer {
        margin: 0 0 0 0;
    }
}



